.TextInput{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2.5rem;
    resize: none;
    border: none;
    font-size: 2rem;
    font-family: inherit;
    line-height: 1;
    margin-top: 1rem;
    border-radius: 1rem;
    display: block;
    width: 100%;
}
.InputField{

}

textarea:focus{
    outline: none;
    border: 0.1rem solid #3D74F4;
}

.InputField p{

    margin-top: 1rem;
    text-align: end;

  
}