.btn-c1 {
    background-color: #77C4ED;
      
}

.btn-c2{
    background-color: #9373F0;
}

.btn-c3{
    background-color: #F35C7B;
}

.btn-c4{
    background-color: #F3815A;
}

.btn-c5{
    background-color: #D8477F;
}

.btn-c1, .btn-c2, .btn-c3, .btn-c4, .btn-c5{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.NoteFilter div{

    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}